.card-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      to right,
      rgba(7, 27, 82, 1) 0%,
      rgba(0, 128, 128, 1) 100%
    );
    border: 4px double rgb(209, 126, 126);
    border-radius: 5px;
    padding: 35px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.35s ease-in-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  

  